## Question 1 (List)
 Based on the lists below, answer the questions
 
my_list = [2, 15, 0,”python”, 4.6,”java”,90, 10]

1. Print first and last items of the list

2. Remove first and last items of the list

3. Remove 90 and 300 from the list

4. Add 5 between 15 and 0

5. Edit “Js” with “python”

6. Add 50 at the end of the list

7. Search for 0 in the list and if it is in the list print "yes" else print "no“

In [1]:
my_list = [2, 15, 0,"python", 4.6,"java",90, 10]
#Print first and last items of the list
print(f"first item of list : {my_list[0]}")
print(f"last item of list : {my_list[-1]}")

first item of list : 2
last item of list : 10

In [2]:
# Remove first and last items of the list
my_list = [2, 15, 0,"python", 4.6,"java",90, 10]
my_list.pop() # remove last item
my_list.pop(0) # remove first item
print(f"my list after remove first and last item : {my_list}")

my list after remove first and last item : [15, 0, 'python', 4.6, 'java', 90]

In [3]:
# Remove 90 and 300 from the list
my_list = [2, 15, 0,"python", 4.6,"java",90, 10]
my_list.remove(90)

my_list

[2, 15, 0, 'python', 4.6, 'java', 10]

In [4]:
my_list.remove(300) # 300 not in list

ValueError: list.remove(x): x not in list

In [5]:
# Add 5 between 15 and 0
my_list = [2, 15, 0,"python", 4.6,"java",90, 10]
my_list.insert(2,5)
my_list

[2, 15, 5, 0, 'python', 4.6, 'java', 90, 10]

In [6]:
# Edit “Js” with “python”
my_list = [2, 15, 0,"python", 4.6,"java",90, 10]
my_list[3]="js"
my_list

[2, 15, 0, 'js', 4.6, 'java', 90, 10]

In [7]:
# Add 50 at the end of the list
my_list = [2, 15, 0,"python", 4.6,"java",90, 10]
my_list.append(50)
my_list

[2, 15, 0, 'python', 4.6, 'java', 90, 10, 50]

In [8]:
# Search for 0 in the list and if it is in the list print "yes" else print "no“
if 0 in my_list:
    print("yes")
else:
    print("no")

yes

In [9]:
my_list.index(0)

2

In [10]:
first_or_default = ((print("yes") for x in my_list if x==0), print("no"))

no

## Question 2 (List)

Get a string in one of the following forms from the input and display the expected
result.


Sample1: 2 + 3 = ?

Output: 2 + 3 = 5

=======

Sample2: 2 - 3 = ?

Output: 2 - 3 = -1

=======

Sample3: 2 * 3 = ?

Output: 2 * 3 = 6

=======

Sample4: 5 / 2 = ?

Output: 5 / 2 = 2.5

======

Sample5: 2 / 0 = ?

Output: 2 / 0 = Error

======

In [11]:
for i in range(5):
    op = input("Please enter one of the calculation operations (addition, multiplication, division or subtraction) : ")
    op = op.split()
    op1 = float(op[0])
    op2 = float(op[2])

    if op[1]=='+':
        print(f"{op1} + {op2} = {op1 + op2}")
    elif op[1]=='*':
        print(f"{op1} * {op2} = {op1 * op2}")
    elif op[1]=='-':
        print(f"{op1} - {op2} = {op1 - op2}")
    try:
        if op[1]=='/':
            print(f"{op1} / {op2} ={op1 / op2}")
    except:
        print(f"{op1} / {op2} = Error")

Please enter one of the calculation operations (addition, multiplication, division or subtraction) : 2 + 3
2.0 + 3.0 = 5.0
Please enter one of the calculation operations (addition, multiplication, division or subtraction) : 2 - 3
2.0 - 3.0 = -1.0
Please enter one of the calculation operations (addition, multiplication, division or subtraction) : 2 * 3
2.0 * 3.0 = 6.0
Please enter one of the calculation operations (addition, multiplication, division or subtraction) : 5 / 2
5.0 / 2.0 =2.5
Please enter one of the calculation operations (addition, multiplication, division or subtraction) : 2 / 0
2.0 / 0.0 = Error

## Question 3 (List)

Based on the two lists below, make a third list that includes the data that is in the
first list and not in the second list.


List1 = [ 12, 2, 34, 10, 4, 18, 10]


List2 = [12, 100, 10, 4, 5, 50]

In [12]:
List1 = [ 12, 2, 34, 10, 4, 18, 10]
List2 = [12, 100, 10, 4, 5, 50]
List3 = []
for i in List1:
    if i not in List2:
        List3.append(i)
List3

[2, 34, 18]

## Question 4 (List)

Display the minimum, maximum, sum, average, length, and median for the list
below.

Numbers = [10, 20, 20, 12, 30, 45, 2.4, 1.5]

In [13]:
Numbers = [10, 20, 20, 12, 30, 45, 2.4, 1.5]
print(f"minimum : {min(Numbers)}")
print("=====")
print(f"maximum : {max(Numbers)} ")
print("=====")
print(f"sum : {sum(Numbers)} ")
# print("=====")
print(f"average : {(sum(Numbers))/len(Numbers)} ")
print("=====")
print(f"length : {len(Numbers)} ")
print("=====")
s = sorted(Numbers)
l = len(Numbers)
index = (l - 1) // 2
   
if (l % 2):
    print(f"median : {s[index]} ")
    
else:
    print(f"median : {(s[index] + s[index + 1])/2.0} ")
print("=====")

minimum : 1.5
=====
maximum : 45
=====
sum : 140.9
average : 17.6125
=====
length : 8
=====
median : 16.0
=====

In [14]:
import statistics
print(f"median : {statistics.median(Numbers)} ")

median : 16.0

In [15]:
from numpy import median
print(f"median : {median(Numbers)} ")

median : 16.0